h1{
	text-transform: uppercase;
	margin-top: 30px;
	text-align: center;
}

h2{
	background-color: black;
	text-align: center;
	color: white;
}

h3{
	text-align: center;
	margin-top: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fe5d3b;
}

.uperindex{
	display: flex;
	flex-wrap: wrap;
}

.contain{
	background-color: white;
	margin: 27px;
	width: 500px;
	box-shadow: 3px 5px 7px #e1e0e080;
}

.contain:hover{
	box-shadow: 5px 8px 9px #cccccc80;
	transition: 0.4s;
}

.contain img, p{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

img{
	width: 300px;
}

.button{
	display: flex;
}

.buttons{
	margin-right: auto;
	margin-left: auto;
	display: inline-flex;
	margin-bottom: 30px;
	margin-top: 20px;
}

a, button{
	width: 100px;
	margin: 5px;
}

.create{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}